.page-blog ul.action-links {
    display: none;
}

.view-ca-blog-list .views-field-field-ca-blog-b-image,
.view-ca-blog-taxonomy .views-field-field-ca-blog-b-image,
.view-id-ca_blog_block .views-field-field-ca-blog-b-image {
    float: left;
}

.view-ca-blog-list .views-field-field-ca-blog-b-image img,
.view-ca-blog-taxonomy .views-field-field-ca-blog-b-image img,
.view-id-ca_blog_block .views-field-field-ca-blog-b-image img {
    padding: 0 15px 5px 0;
}

.view-ca-blog-list .views-field-nothing,
.view-ca-blog-taxonomy .views-field-nothing,
.view-ca-blog-block .views-field-nothing {
    clear: both;
}

.pane-ca-blog-node-ca-blog-node-1a {
    float: left;
}

.pane-ca-blog-node-ca-blog-node-1a .views-field-field-ca-blog-b-image {
    padding: 0 15px 5px 0;
}


.pane-ca-blog-node-ca-blog-node-1b {
    float: left;
    clear: left;
    padding: 0 15px 5px 0;
    width: 200px;
    text-align: center;
}

.node-type-blog .pane-node-terms li {
    display: inline-block;
    padding: 5px;
}

.view-display-id-ca_blog_node_1 .views-field-view-node {
    float: left;
}
