.page-blog ul.action-links {
    display: none;
}

.view-ca-blog-list .views-field-field-ca-blog-b-image, .view-ca-blog-taxonomy .views-field-field-ca-blog-b-image {
    float: left;
    padding-right: 15px;
    padding-bottom: 5px;
}

.view-ca-blog-list .views-field-nothing, .view-ca-blog-taxonomy .views-field-nothing {
    clear: both;
}

.pane-ca-blog-node-ca-blog-node-1a, .pane-ca-blog-node-ca-blog-node-1b {
    float: left;
    clear: left;
    width: 200px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.view-ca-blog-node .views-field-field-ca-blog-b-image-1 img {
    padding-right: 5px;
    padding-bottom: 5px;
}

.node-type-blog .pane-node-terms li {
    display: inline-block;
    padding: 5px;
}

.view-display-id-ca_blog_node_1 .views-field-view-node {
    float: left;
}
